/* First Section */
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 36px;
}
h3{
    font-size: 20px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding: 30px;
}
.half-width h1{
    margin-bottom: 30px;
    margin-top: 35px;
}
.half-width h4{
    margin-bottom: 20px;
}
.half-width img{
    width: 90%;
}
.half-width p{
    margin-bottom: 20px;
    color: rgb(117, 101, 101);
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    padding: 10px 30ox;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

/* Second Section */
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* Third Section */
.third-seciton{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.third-seciton h1{
    padding-bottom: 30px;
}
.experience-half{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-bottom: 100px;
}
.experience-half h1{
    margin-bottom: 20px;
    margin-top: 20px;
}
.experience-half h3{
    margin-bottom: 15px;
}
#border-1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#border-2{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}

/* Footer Section */
.footer{
    color:rgb(117, 101, 101);
    text-align: center;
    padding-bottom: 30px;
}